*{
  box-sizing: border-box;
}

body{
  background-color: #000;
  color: #FFF;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1{
  font-family: 'Oswald', sans-serif;
}

section{
  display: none;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 90vh;
  font-size: 40px;
  padding: 0 60px 0 40px;
  text-align: center;
}

section>*{
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5em;
}

section ol,
section ul{
  display: inline-block;
  text-align: justify;
}

ul ul{
  display: block;
}

.ul-sm{
  font-size: 0.8em;
}

h1{
  font-size: 75px;
}

pre{
  margin: -50px 0;
}

code {
  display: block;
  font-family: monospace;
  background-color: #000;
  width: 120%;
  margin: 1em 0 0 -10%;
  padding: 0.5em 0.2em;
  font-size: 0.5em;
  border-radius: .25em;
  box-shadow: 0.1em 0.1em 0.5em rgba(255, 255, 255, 0.45);
  line-height: 0;
  counter-reset: line;
  text-align: justify;
  overflow: hidden;
}
code>div {
  display: block;
  line-height: 1.5rem;
}
code>div:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888;
  width: 25px;
}

iframe{
  background: #FFF;
}

strong{
  font-weight: normal;
  font-size: 1.5em;
}

table{
  font-family: monospace;
  font-size: 0.8em;
  line-height: 1.5em;
  border-collapse: collapse;
}

td{
  border-bottom: 1px solid #CCC;
  padding: 0 2em;
}

.sub{
  display: none;
}

p{
  font-size: 30px;
}
