@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  font-family: 'Raleway', sans-serif;
  background-image: url('../images/plano-de-fundo.png');
  background-attachment: fixed;
}

h1{
  text-align: center;
  font-style: italic;
  color: #c62828;
  background-color: rgba(246, 40, 40, 0.3);
}

h2, h3, h4{
  color: #c62828;
  font-weight: normal;
  text-decoration: underline;
}

p{
  text-align: justify;
  font-size: 14px;
  line-height: 23px;
}

strong{
  color: #c62828;
}

mark{
  background-color: rgba(246, 40, 40, 0.3);
}
.destaque{
  background-color: #ef5350;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
}

form{
  width: 500px;
  margin: 10px auto;
}

form input[type="text"],
form input[type="email"],
form textarea,
form select{
  width: 100%;
}

input:focus,
textarea:focus,
select:focus{
  background-color: rgba(246, 40, 40, 0.3);
}

form textarea{
  resize: vertical;
}

a:hover{
  font-weight: bold;
}

.efeito-borda:hover{
  border-radius: 20px;
}
